include dash_core_components/bundle.js
include dash_core_components/bundle.js.map
include dash_core_components/metadata.json
include dash_core_components/rc-slider@8.6.0.css
include dash_core_components/react-select@1.2.1.min.css
include dash_core_components/plotly-1.35.2.min.js
include dash_core_components/react-virtualized-select@3.1.3.css
include dash_core_components/react-virtualized@9.18.5.css
include dash_core_components/react-dates_datepicker@16.3.2.min.css
include README.md
include LICENSE.md
